* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    background-color: #022f83;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}

.carrinho-container {
    display: flex;
}

.produto {
    width: 33.3%;
    padding: 0 30px;
}
.produto img {
    width: 500px;
    height: 500px;
    max-width: 100%;
}
.produto a {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #5fb382;
    text-align: center;
    text-decoration: none;
}
.carrinho-item {
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 10px;
    border-bottom: 2px dotted #ccc;
    
}
.carrinho-item p{
    font-size: 22px;
    color: gray;
   
}
